<% layout('layout/boilerplate') -%>  

<form action="/login" method="post">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" placeholder="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="username" placeholder="password" required/>
    </div>
    
    <input  type="submit" value="login">
</form>